function Myprint.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop static 0
push argument 1
pop static 1
push argument 2
pop this 0
push argument 3
pop this 1
push pointer 0
return
function Myprint.geta 0
push static 0
return
function Myprint.seta 0
push argument 0
pop static 0
push constant 0
return
function Myprint.getb 0
push static 1
return
function Myprint.printer 0
push argument 0
pop pointer 0
push static 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push static 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push this 1
call Output.printString 1
pop temp 0
push constant 0
return
